<div class="ui fluid form segment">
    <%= form_for @blogpost, :html => {:multipart => true} do |f| %>
      <% if @blogpost.errors.any? %>
        <div id="error_explanation">
        <%= pluralize(@blogpost.errors.count, "error") %> prohibited this post from being saved:
          <ul> <% @blogpost.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
      <% end %>
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title, :placeholder => "Title Here" %>
      </div>
      <div class="field">
        <%= f.label :post_text %>
        <%= f.text_area :post_text, :placeholder => "Text Here" %><div class="ui corner label">
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <i class="pencil icon"></i></div>
      </div>
      <div><%= f.submit 'Submit', :class => "ui blue submit button" %> </div>
    <% end %>
  </div>