<div class="ui piled segment">
  <div class="ui circular segment">
    <h2 class="ui header">
      Create a <br> new 
      <div class="sub header">BLOG POST</div>
    </h2>
  </div>
  
<!-- Form for blogpost-->    
 <!--  <div class="ui form segment">
    <%= form_for(@blogpost) do |f| %>
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
        <div class="ui left labeled icon input">
          
          <input type="field" placeholder="Blog Title">
          <i class="gift icon"></i>
          <div class="ui corner label">
            <i class="icon asterisk"></i>
          </div>
        </div>
      </div>
      <div class="field">
        <%= f.label :post_text %>
        <%= f.text_field :title %>
        <div class="ui left labeled icon input">

          <textarea type="field" placeholder="     Enter Text Here"></textarea>
          <i class="pencil icon"></i>
          <div class="ui corner label">
            <i class="icon asterisk"></i>
          </div>
        </div>
      </div>
      <div class="ui error message">
        <div class="header">We noticed some issues</div>
      </div>
      <div class="ui blue submit button"> Submit</div>
      <% end %> -->

  <div class="ui fluid form segment">
    <%= form_for(@blogpost) do |f| %>
      <% if @blogpost.errors.any? %>
        <div id="error_explanation">
        <%= pluralize(@blogpost.errors.count, "error") %> prohibited this post from being saved:
          <ul> <% @blogpost.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
      <% end %>
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title, :placeholder => "Title Here" %>
      </div>
      <div class="field">
        <%= f.label :post_text %>
        <%= f.text_area :post_text, :placeholder => "Text Here" %><div class="ui corner label">
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <i class="pencil icon"></i></div>
      </div>
      <div><%= f.submit 'Submit', :class => "ui blue submit button" %> </div>
    <% end %>
  </div>
</div> 