<div class="ui piled segment">
  <%= form_for @tool do |f| %>
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
      <br>
    <%= f.label :description, "Description:" %>
    <%= f.text_area :description %>
      <br>
    <%= f.hidden_field :owner, value: current_user.id %>
    <%= f.submit %>
<% end %>
</div>
