<div class="ui piled segment">
  <h3>Tool Library</h3>

  <% @tools.each do |tool| %>
    <%= link_to tool.name, tool_path(tool) %>
    <br>
    <% if tool.available %>
      <%= form_for @tools_users, :url => { controller: :tools_users, action: :create } do |f| %>
        <%= f.hidden_field :tool_id, value: tool.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :checkout, value: Time.now %>

        <%= f.submit %>
      <% end %>
    <% end %>
  <% end %>
  <br>
  <% if current_user.admin %>
  <%= link_to "Currently Checked Out Tools", tool_checkout_current_path %>
  <br>
  <%= link_to "Full Checkout Logs", tool_checkout_logs_path %>
  <% end %>
</div>