Hello, <%= current_user.username %>!
<h3>Tools Currently Checked out</h3>
<% @tools_users.each do |checkout| %>
  <%= checkout.tool.name %>
  <%= form_for checkout, :url => checkout_path(checkout) do |f| %>

  <%= f.hidden_field :checkin, value: Time.now %>

  <%= f.submit "Check Tool In"%>
  <% end %>
<% end %>

<h3>Tools lent to Seattle Stone Soup</h3>
<% @tools.each do |tool| %>
  <%= tool.name %>
  <%= form_for tool, :html => {method: :delete} do |f| %>
  <%= f.submit "Remove from Library" %>                              
  <% end %>
<% end %>

<%= link_to "Lend a Tool", new_tool_path(@tool) %>

