
<!-- Sign Out and Profile Buttons that only show for signed in user -->
<% if current_user %>
  <div class="ui buttons">
    <%= link_to root_path do %>
      <div class="ui teal button">Home Page</div>
    <% end %>
    <div class="or"></div>
    <%= link_to signout_path do %>
      <div class="ui button">Sign Out</div>
    <% end %>
    <div class="or"></div>
    <%= link_to user_path(current_user.id) do %>
      <div class="ui positive button">Profile</div>
    <% end %>
  </div>
<% end %>

<!-- header with title and green background -->
  <div class= "ui fluid form segment">
    <h1 class="ui green center aligned header ">Seattle Stone Soup</h1>
    <p class="ui center aligned inverted green header">A neighborly interface to our local pea patch</p>
  </div>
<!--   Welcome with User Name -->
  <div class="welcome">
    <% if current_user %>
      <h4> Welcome  <%= current_user.username.titleize %> </h4>
    <% end %>
  </div>

<!-- sign in and sign up: to only be visable to non users -->

    <!-- Sign Up with Twitter -->
    <% if current_user.nil? %>
    <div class="ui horizontal icon divider">
      <i class="circular twitter icon"></i>
    </div>
      <div class="ui center aligned segment">
        <h3 class="ui header">Please Sign in with Twitter</h3>
          <div class="centercolumnbutton">
          <div class="center aligned column">
            <%= link_to "/auth/twitter" do %>
            <div class="ui blue button">
          <i class="twitter icon"></i>
          Sign In With <br> Twitter

              </div>
              <% end %>
            </div>
          </div>
        </div>
    </div>
    <% end %>

<!-- Weather Chunk -->

<% if current_user %> <!-- Start of current User view: wrapped around weather, pinterest, and calendar -->

 <!--  Weather Divider -->


    <div class="ui horizontal icon divider">
      <i class="circular sun icon"></i>
    </div>


<!-- Weather Button -->
  <div>
    <%= form_for @weather, :url => url_for(:controller => 'weather', :action => 'create') do |f| %>
    <% f.submit %>
    <% end %>
  </div>
 
<!--   Weather Forcast -->
      <div class="ui vertically divided grid">
        <div class="four column row">
          <div class="column">
            <div class="ui fluid form segment">
              <h3 class="ui header">Today</h3>
              <%#= HTTParty.get("http://api.openweathermap.org/data/2.5/weather?q=Seattle&units=imperial").parsed_response["weather"][0]["main"] %>
              <%#= HTTParty.get("http://api.openweathermap.org/data/2.5/weather?q=Seattle&units=imperial").parsed_response["main"]["temp"] %>
            </div>
          </div>

          <div class="column">
            <div class="ui fluid form segment">
              <h3 class="ui header">Tomorrow</h3>
              <%#= DaysWeather.find_by(forecast_association:Weather.last.id, place_value:0).description %>
              <%#= DaysWeather.find_by(forecast_association:Weather.last.id, place_value:0).temp %>
            </div>
          </div>

          <div class="column">
            <div class="ui fluid form segment">
              <h3 class="ui header">Next</h3>
              <%#= DaysWeather.find_by(forecast_association:Weather.last.id, place_value:1).description %>
              <%#= DaysWeather.find_by(forecast_association:Weather.last.id, place_value:1).temp %>
            </div>
          </div>

          <div class="column">
            <div class="ui fluid form segment">
              <h3 class="ui header">Then</h3>
              <%#= DaysWeather.find_by(forecast_association:Weather.last.id, place_value:2).description %>
              <%#= DaysWeather.find_by(forecast_association:Weather.last.id, place_value:2).temp %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- calendar time -->
  <!--  Calendar Divider -->
  <div class="ui horizontal icon divider">
    <i class="circular calendar icon"></i>
  </div>
  <div class="ui fluid form segment">
    <%= calendar @events do |event| %>
    <div><%= link_to event.title, event %></div>
    <% end %>
  </div>


<!-- Pinterest Chunk -->
  <!-- Pin Divider -->

  <div class="ui horizontal icon divider">
    <i class="circular pin icon"></i>
  </div>
    <div>
      <h4>Follow our community Pin Board</h4>
    <div class="ui center align fluid form segment">
    <a data-pin-do="embedBoard" href="http://www.pinterest.com/evermasttolast/yard-and-garden/" data-pin-scale-width="100" data-pin-scale-height="200">Follow Abby's board Yard and Garden on Pinterest.</a>
    <!-- Please call pinit.js only once per page -->
    <script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
    </div>
  </div>


<% end %> <!-- end of current user wrapper -->



<!-- end of log in that is only seen by current user -->

  <!-- weather forecast -->
 <!--  current post/comments
  upcoming events
  reserve a tool
  profile page if signed in -->

